My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "d701070d-a906-4c1d-8883-45cbadf19f48",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Session Manager').item.json.sessionId }}",
        "tableName": "n8n_chat_history",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "cc55c107-bfb4-4c9d-8ca4-212b1da78d5c",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "jsCode": "// Uses $input instead of node name - always works\nconst body = $input.first().json.body || $input.first().json;\n\nconst incoming = body.sessionId || '';\nconst message = (body.message || body.chatInput || '').trim();\n\nfunction generateSessionId() {\n  const random = Math.random().toString(36).slice(2, 8);\n  return `session_${Date.now()}_${random}`;\n}\n\nlet sessionId;\nif (message === '__new_session__' || !incoming) {\n  sessionId = generateSessionId();\n} else {\n  sessionId = incoming;\n}\n\nreturn [{ json: { sessionId, chatInput: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        0
      ],
      "id": "59706389-51fa-45c0-8c47-372e6a3906f7",
      "name": "Session Manager"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_sessions (session_id, conversation)\nVALUES (\n  '{{ $('Session Manager').item.json.sessionId }}',\n  jsonb_build_array(\n    jsonb_build_object(\n      'turn', 1,\n      'user', '{{ $('Session Manager').item.json.chatInput.replace(/'/g, \"''\") }}',\n      'assistant', '{{ $('AI Agent').item.json.output.replace(/'/g, \"''\") }}',\n      'timestamp', NOW()\n    )\n  )\n)\nON CONFLICT (session_id)\nDO UPDATE SET\n  conversation = chat_sessions.conversation || jsonb_build_array(\n    jsonb_build_object(\n      'turn', jsonb_array_length(chat_sessions.conversation) + 1,\n      'user', '{{ $('Session Manager').item.json.chatInput.replace(/'/g, \"''\") }}',\n      'assistant', '{{ $('AI Agent').item.json.output.replace(/'/g, \"''\") }}',\n      'timestamp', NOW()\n    )\n  ),\n  updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        144
      ],
      "id": "26bf690b-5d92-439a-a101-62fbea17202e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "jUZiQQvdCLdSlplO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "378cde28-e4e9-48a8-94c5-526d08127804",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=={{ $('AI Agent').first().json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        912,
        144
      ],
      "id": "04555276-9fcf-4819-96d4-f593fc4522af",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "21f5d1ae-13df-48d2-84dc-f72cb267be92",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        0
      ],
      "id": "76a635c9-5310-407a-8631-79bd327d1260",
      "name": "Webhook",
      "webhookId": "21f5d1ae-13df-48d2-84dc-f72cb267be92"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Session Manager": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Session Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "820e1d80-520e-4c4e-9128-2129f6f4e3b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53d54da26ba9a80d12a5ab1bb3c506398f3f90d8dc8391c0ac814fee15e5ff01"
  },
  "id": "kAhqAKjDVNoEqMhK",
  "tags": [
    {
      "updatedAt": "2026-04-05T09:27:38.522Z",
      "createdAt": "2026-04-05T09:27:38.522Z",
      "id": "JVparbL75fr94wmQ",
      "name": "apicall"
    }
  ]
}